[Unit]
Description=Camera Image Downloader Daemon
After=network.target

[Service]
User=jdalley
Group=jdalley
WorkingDirectory=/home/jdalley/dunedin-live/timelapse
ExecStart=/usr/bin/python3 -u getimg-worker.py
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
